@font-face {
    font-family: IRANYekan-bold;
    font-style: normal;
    font-weight: 400;
    src: url('eot/iranyekanwebbold(fanum).eot');
    src: url('eot/iranyekanwebbold(fanum).eot') format('embedded-opentype'),
         url('woff2/iranyekanwebbold(fanum).woff2') format('woff2'),
         url('woff/iranyekanwebbold(fanum).woff') format('woff'),
         url('ttf/iranyekanwebbold(fanum).ttf') format('truetype')
}

@font-face {
    font-family: IRANYekan-light;
    font-style: normal;
    font-weight: 400;
    src: url('eot/iranyekanweblight(fanum).eot');
    src: url('eot/iranyekanweblight(fanum).eot') format('embedded-opentype'),
         url('woff2/iranyekanweblight(fanum).woff2') format('woff2'),
         url('woff/iranyekanweblight(fanum).woff') format('woff'),
         url('ttf/iranyekanweblight(fanum).ttf') format('truetype')
}

@font-face {
    font-family: IRANYekan-regular;
    font-style: normal;
    font-weight: 400;
    src: url('eot/iranyekanwebregular(fanum).eot');
    src: url('eot/iranyekanwebregular(fanum).eot') format('embedded-opentype'),
    url('woff2/iranyekanwebregular(fanum).woff2') format('woff2'),
    url('ttf/iranyekanwebregular(fanum).ttf') format('truetype')
}


